# Defines which files Git should ignore
# http://git-scm.com
*~
*.dll
*.exe
*.la
*.lo
*.msl
*.o
*.pc
*.spv
*.swp
.deps/
.dirstamp
.DS_Store
.libs/
.settings/
aclocal.m4
autom4te.cache/
compile
config.guess
Config.h
Config.h.in
config.log
config.status
config.sub
configure
depcomp
gmon.out
install-sh
libtool
ltmain.sh
m4/*
Makefile
Makefile.in
missing
nbproject
stamp-h1
test-driver
build/
xcuserdata/
.build-xcframework/
Frameworks/*
!Frameworks/*.sh
ObjectivelyMVC.vs15/libs/SDL3_image-*/
ObjectivelyMVC.vs15/libs/SDL3_ttf-*/
