#debug {
	alignment: middle-right;
	autoresizing-mask: fit;
	background-color: #6688aa33;
	border-color: #6080a0;
	border-width 1;
	padding: 4 4 4 4;
}

#debug * {
	font-size: 12;
}

#debug > * {
	background-color: #ffffff22;
}

#debug > #description {
	color: white;
}

#debug > TableView {
	autoresizing-mask: contain;
}

#debug > #selectors * {
	color: green;
}

#debug > #selectors #Selector {
	min-width: 400;
}

#debug > #computedStyle * {
	color: yellow;
}

#debug > #computedStyle #Attribute {
	min-width: 160;
}

#debug > #computedStyle #Value {
	min-width: 240;
}
