* {
	background-color: transparent;
	border-width: 0;
}

Box {
	autoresizing-mask: contain;
	border-color: #dededeaa;
	border-width: 1;
	padding: 10 10 10 10;
}

Box > Label {
	background-color: #888888;
	padding: 0 8 0 8;
	left: 20;
}

Box > .contentView {
	autoresizing-mask: contain | width;
	padding-top: 4;
	spacing: 4;
}

Button {
	autoresizing-mask: contain;
	background-color: #88888822;
	bevel: outset;
	min-width: 100;
	padding: 8 8 8 8;
}

Button > * {
	alignment: middle-center;
}

Checkbox > Control {
	background-color: #22222266;
	bevel: inset;
	min-width: 18;
	min-height: 18;
	padding: 4 4 4 4;
}

CollectionItemView {
	background-color: #22222266;
	border-color: #999999aa;
}

CollectionItemView > .selectionOverlay {
	background-color: #ffffff22;
	hidden: true;
}

CollectionItemView:selected > .selectionOverlay {
	hidden: false;
}

CollectionView {
	background-color: #22222266;
	item-size: 64 64;
	item-spacing: 10 10;
}

CollectionView .content {
	padding: 10 10 10 10;
}

Control {
	min-height: 32;
	selection: single;
}

Option {
	padding: 2 2 2 2;
}

Panel {
	background-color: #444444dd;
	border-color: #dedede;
	border-width: 1;
	padding: 12 12 12 12;
}

Select {
	background-color: #dedede10;
	bevel: outset;
	padding: 4 4 4 4;
}

Select > StackView {
	alignment: middle-left;
}

.options {
	alignment: internal;
	border-color: #dededeaa;
	border-width: 1;
}

.options > Option {
	background-color: charcoal;
}

.options > Option:hover {
	background-color: darkgray;
}

.options > Option:selected {
	background-color: dimgray;
}

Slider {
	width: 140;
}

Slider > .bar {
	alignment: middle-left;
	autoresizing-mask: fill;
}

Slider > .bar > .handle {
	alignment: middle;
	background-color: #444444dd;
	bevel: outset;
	min-width: 8;
	max-height: 16;
}

Slider > .label {
	alignment: middle-right;
	padding: 0 0 0 18;
}

StackView.container {
	spacing: 12;
}

TableHeaderView {
	background-color: #ffffff22;
}

TableHeaderView * {
	font-style: bold;
}

TextView {
	background-color: #22222266;
	bevel: inset;
	padding: 4 4 4 4;
	width: 160;
}

TextView > Text {
	alignment: middle-left;
}

Text {
	color: ghostwhite;
}

#debug {
	padding: 4 4 4 4;
}

#debug * {
	font-size: 12;
}

#debug > * {
	background-color: #ffffff22;
}

#debug > #description {
	color: white;
}

#debug > #selectors * {
	color: green;
}

#debug > #computedStyle * {
	color: yellow;
}


